view,
text {
  box-sizing: border-box;
  /* font-family: PingFangSC-Medium !important; */
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.fw{
  font-weight: 700;
}

.tblank {
  color: #333;
}

.tgary {
  color: #999;
}

.tblue {
  color: #2764DD;
}

.tgold {
  color: #FCD901;
}

.tred {
  color: #F45834;
}

.tred2{
  color: #E14420;
}

.tgreen{
  color: #63DD27;
}

button::after {
  border: none;
}

button {
  line-height: none;
  background-color: #fff;
  border-radius:0;
  padding: 0;
}