view,
text {
  box-sizing: border-box;
  /* font-family: PingFangSC-Medium !important; */
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.fl {
  float: left;
}

.fr {
  float: right;
}

button::after {
  border: none;
}

button {
  background-color: #fff;
  border-radius:0;
  padding: 0;
}